:root {
   /* primary accent color */
   --primary-1: #f0fbf8;
   --primary-2: #c6f2e6;
   --primary-3: #9ce9d3;
   --primary-4: #72e0c1;
   --primary-5: #4f9c87;
   --primary-6: #2d594d;
   --primary-7: #0b1613;

   /* secondary accent color */
   --secondary-1: #fff9fa;
   --secondary-2: #fdbfca;
   --secondary-3: #fc869a;
   --secondary-4: #fa4d6a;
   --secondary-5: #f8143a;
   --secondary-6: #a50520;
   --secondary-7: #200106;
}

body {
   min-height: 100vh;
   margin: 0px;
   font-family: 'Raleway', sans-serif;
   font-weight: 100;
   background-attachment: fixed;
   background-size: 100%;
   background-position: 100% 50%;
   background-repeat: no-repeat;
}

.row {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.column {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

/* header */
header {
   background-color: var(--primary-1);
   font-weight: 100;
   color: black;
   border-bottom: 1px solid var(--primary-7);
}

.pageIcon {
   font-size: 2em;
   width: 1em;
   height: 1em;
   color: black;
   width: 25%;
   text-decoration: none;
   transition: 0.3s;
   text-align: center;
   opacity: 1;
}

.icon {
   color: black;
   transition: 0.4s;
}

.pageIcon:hover .icon {
   opacity: 0;
}

.subpage_title {
   opacity: 0;
   font-size: 32px;
   transform: translate(0, -50px);
   overflow: hidden;
   text-align: center;
   color: black;
   transition: 0.2s ease-out;
}

.pageIcon:hover .subpage_title {
   transform: translate(0, -70px);
   opacity: 1;
}

#title {
   font-size: 48px;
   text-align: center;
   padding: 15px 0px;
   border: 0px;
   margin: 0px;
}

#pages {
   padding-bottom: 25px;
}

/* corpo centrale */
#center {
   font-family: 'Raleway', sans-serif;
}

.courses_list {
   margin-bottom: 50px;
   margin-left: 25%;
}

/* riquadri per i link */
.course_box {
   width: 85%;
   position: relative;
   text-decoration: none;
   margin: 50px auto;
   border: 1px solid var(--primary-7);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-radius: 15px;
   transition: .5s ease;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
   opacity: 1;
}

.course_top {
   transition: 0.5s ease;
   margin: 0px;
   padding: 0px;
   border-radius: 15px;
   font-size: 36px;
   background-color: var(--primary-1);
   justify-content: space-between;
}

.course_title {
   background-color: rgba(0, 0, 0, 0);
   color: black;
   font-size: 30px;
   padding: 32px 24px;
   margin: 0px;
   border-radius: 15px;
}

.course_buttons {

}

.course_resource {
   cursor: pointer;
   padding: 40px 20px;
   color: black;
   opacity: 0.6;
   transition: 0.3s;
   text-decoration: none;
   font-size: 24px;
}

.course_resource:hover {
   opacity: 1;
}

.show_resources {
   background-color: rgba(0, 0, 0, 0);
   cursor: pointer;
   border: none;
   color: black;
   opacity: 0.6;
   padding: 40px 25px;
   font-size: 24px;
   transition: 0.3s;
}

.show_resources:hover {
   opacity: 1;
}

.course_bottom {
   margin: 0px;
   padding: 0px 24px;
   justify-content: space-between;
   border: 1px solid var(--primary-7);
   border: 1px solid var(--primary-7);
   border-radius: 0px 0px 15px 15px;
   font-size: 24px;
   height: 100%;
   color: var(--primary-1);
   text-decoration: none;
   background: var(--primary-6);
   transition: 0.5s ease;
}

.course_content {
   padding: 0px 18px;
   overflow: hidden;
   display: none;
   color: black;
}

.professors, .professor, .CFU {
   margin: 10px 0px;
}

.professor {
   text-decoration: none;
   color: var(--primary-1);
   margin: 0px;
}

/* footer */
footer {
   position: fixed;
   bottom: 0%;
   width: 100%;
   height: 50px;
   background-color: var(--primary-1);
   padding: 0px 0px;
   border-top: 1px solid var(--primary-7);
}

.sidenav {
   height: 100%;
   width: 25%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: var(--primary-1);
   border-right: 1px solid var(--primary-7);
   overflow-x: hidden;
   padding-top: 20px;
}

