.theme-dark {
  --background-primary: #272b34;
  --background-primary-alt: #20242b;
  --background-secondary: #20242b;
  --background-secondary-alt: #1a1e24;
  --background-accent: #000;
  --background-modifier-border: #424958;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #539126;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #61afef;
  --text-accent-hover: #69bafd;
  --text-normal: #dcddde;
  --text-muted: #888;
  --text-faint: rgb(81, 86, 99);
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  --interactive-accent: #4c78cc;
  --interactive-accent-rgb: 76, 120, 204;
  --interactive-accent-hover: #5082df;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --panel-border-color: #18191e;
  --gray-1: #5C6370;
  --gray-2: #abb2bf;
  --red: #e06c75;
  --orange: #d19a66;
  --green: #98c379;
  --aqua: #56b6c2;
  --purple: #c678dd;
  --blue: #61afef;
  --yellow: #e5c07b;
}

.theme-light {
  /* background */
  --background-primary: #ffffff;
  --background-primary-alt: #ebebeb;
  --background-secondary: #f2f2f2;
  --background-secondary-alt: #dbdbdc;
  --background-accent: #ffa366;
  --background-modifier-border: #dbdbdb;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: none;
  --background-modifier-success: #A4E7C3;
  --background-modifier-error: #e68787;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #FF9494;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);

  /* text */
  --text-accent: #ffa366;
  --text-accent-hover: #2d9dff;
  --text-normal: #383838;
  --text-muted: #8e8e90;
  --text-faint: #999999;
  --text-error: #e75545;
  --text-error-hover: #f86959;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: #ffa36655;
  --text-on-accent: #f2f2f2;

  /* settings interactive buttons */
  --interactive-normal: #ededed;
  --interactive-hover: #dbdbdc;
  --interactive-accent-rgb: 128, 128, 255;
  --interactive-accent: #ffa366;
  --interactive-accent-hover: #dd8244;

  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --panel-border-color: #dbdbdb;

  /* colors */
  --gray-1: rgba(120, 120, 120);
  --gray-2: rgba(90, 90, 90);
  --red: rgba(194, 2, 21);
  --green: rgba(78, 162, 76);
  --blue: rgba(61, 116, 246);
  --purple: rgba(166, 37, 164);
  --aqua: rgba(0, 132, 188);
  --yellow: rgba(255, 218, 54);
  --orange: rgba(224, 100, 4);
}

body {
  -webkit-font-smoothing: auto;
}

.titlebar {
  background-color: var(--background-secondary-alt);
}

.titlebar-inner {
  color: var(--text-normal);
}

.tooltip {
  background-color: var(--background-secondary-alt);
  color: var(--text-muted);
}

.tooltip:not(.mod-right):not(.mod-left):not(.mod-top) .tooltip-arrow {
  border-bottom-color: var(--background-secondary-alt) !important;
}

.mod-right .tooltip-arrow {
  border-right-color: var(--background-secondary-alt) !important;
}

.mod-left .tooltip-arrow {
  border-left-color: var(--background-secondary-alt) !important;
}

.mod-top .tooltip-arrow {
  border-top-color: var(--background-secondary-alt) !important;
}

.dropdown {
  cursor: pointer;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%234c78cc%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
}

.dropdown:hover {
  background-color: var(--background-modifier-form-field);
}

.search-result-file-title {
  color: var(--blue);
}

li {
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

a.tag, a.tag:hover {
  color: var(--yellow);
  background-color: var(--background-primary-alt);
  padding: 2px 4px;
  border-radius: 4px;
}

/* TODO: background image

.theme-light .markdown-preview-view {
  background-image: url('http://alessandrolongo.eu/Patterns/memphis.png');
  background-attachment: local;
}

.theme-light .markdown-preview-view::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
}
*/

.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-muted);
  border-radius: 2px;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  filter: none;
  outline: none;
  margin-right: 4px;
  margin-bottom: 2px;
  cursor: pointer;
  vertical-align: baseline;
}

.markdown-preview-view .task-list-item-checkbox:checked {
  border: none;
  background-color: var(--interactive-accent);
}

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: ' ';
  position: absolute;
  background-color: white;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 14 14\'%3E%3Cpolygon points=\'5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039\'%3E%3C/polygon%3E%3C/svg%3E');
}

.markdown-preview-view .task-list-item.is-checked a {
  filter: saturate(0.8) brightness(0.7);
}

.cm-formatting-task {
  font-family: var(--font-monospace);
}

.nav-file, .nav-folder {
  padding: 1px 2px;
}

.nav-file-title, .nav-folder-title {
  width: 100%;
  cursor: default;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  --text-normal: var(--text-muted);
}

body:not(.is-grabbing) .nav-file .nav-file-title:hover:not(.is-active), body:not(.is-grabbing) .nav-folder .nav-folder-title:hover:not(.is-active) {
  --background-secondary-alt: transparent;
}

.nav-file .is-active {
  --background-secondary-alt: var(--interactive-accent);
  --text-normal: #ffffff;
}

.nav-file-title-content, .nav-folder-title-content {
  text-indent: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

/* content width (editor and view mode) */

.markdown-preview-view.is-readable-line-width .markdown-preview-section, .markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 900px !important;
  line-height: 26px;
}

.cm-sizer, .cm-content-container, .cm-content {
  max-width: 900px !important;
}

.cm-line {
  max-width: inherit !important;
}

blockquote {
  margin: 20px 0;
  border-radius: 4px !important;
}

body {
  --font-monospace: 'Fira Code', 'Source Code Pro', monospace;
}

/* math block */
	
mjx-container[jax='CHTML'] {
  text-align: left;
  outline: none;
}

.math-block, .math {
  font-size: 1.2em;
}

/* TODO: math block */

.math-inline .MathJax {
  padding: 10px 0px !important;
}

.cm-s-obsidian pre.HyperMD-codeblock, .cm-s-obsidian span.cm-inline-code, .cm-s-obsidian span.cm-math:not(.cm-formatting-math-begin):not(.cm-formatting-math-end), .markdown-preview-view code {
  /* fix `` tag color */
  color: #98c379;
}

.cm-s-obsidian span.cm-inline-code, .cm-s-obsidian span.cm-math, .cm-s-obsidian span.hmd-fold-math-placeholder {
  /* fix tag size */
  font-weight: 100;
  font-style: normal;
}

.markdown-preview-view code {
  vertical-align: 0;
  word-break: break-word;
}

.markdown-preview-section:not(:first-child) h1, .markdown-preview-section:not(:first-child) h2, .markdown-preview-section:not(:first-child) h3, .markdown-preview-section:not(:first-child) h4, .markdown-preview-section:not(:first-child) h5, .markdown-preview-section:not(:first-child) h6 {
  margin-top: 40px !important;
}

.markdown-preview-section h1, .markdown-preview-section h2, .markdown-preview-section h3, .markdown-preview-section h4, .markdown-preview-section h5, .markdown-preview-section h6 {
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, strong, b, .view-header-title {
  font-weight: 600;
}

/* header 2 highlighted */

.theme-light h2 {
  background: #f1f1ef;
  padding: 3px 5px;
  border-bottom: 1px solid var(--background-accent);
  border-left: 1px solid var(--background-accent);
  border-radius: 0px 6px 0px 6px;
  font-size: 26px;
}

.theme-dark h2 {
  background: #3f4552;
  padding: 3px 2px;
  font-size: 26px;
}

.HyperMD-header-2 .cm-header-2 {
  font-size: 26px !important;
}

h2 .heading-collapse-indicator .right-triangle {
  margin-left: -6px !important;
}

/* header 3 underlined */

.theme-light h3 {
  padding: none 2px;
  display: inline;
  font-size: 22px;
  border-bottom: 1px solid black;
}

.theme-dark h3 {
  padding: none 2px;
  display: inline;
  font-size: 22px;
  border-bottom: 2px solid #3f4552;
}

.HyperMD-header-3 .cm-header-3 {
  font-size: 22px !important;
}

/* line spacing in preview mode */

.cm-line {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.workspace>.workspace-split>.workspace-leaf:first-of-type:last-of-type .view-header {
  border: none;
}

.status-bar, .side-dock.mod-right, .side-dock.mod-left {
  border-color: var(--panel-border-color);
  border-width: 1px;
}

.status-bar {
  --bar-vertical-padding: 4px;
  --bar-height: calc(22px + (var(--bar-vertical-padding) * 2));
  line-height: 20px;
  padding: 0 20px;
  height: var(--bar-height);
  max-height: var(--bar-height);
  min-height: var(--bar-height);
  overflow: hidden;
}

.status-bar-item {
  margin: auto 0;
}

.status-bar-item>* {
  padding-top: var(--bar-vertical-padding) !important;
  padding-bottom: var(--bar-vertical-padding) !important;
}

.side-dock-plugin-panel-inner {
  padding-left: 6px;
}

/* link */
a, .markdown-preview-view .internal-link {
  background: none;
  text-decoration: none;
  line-height: 2;  
  padding: 2px 5px;
  margin: 2px;
  border: 1px solid var(--interactive-hover);
  border-radius: 4px;
  color: black;
}

a, .markdown-preview-view .internal-link:hover {
  text-decoration: none !important;
  background: var(--interactive-hover);
  color: black;
}

a, .markdown-preview-view .external-link {
  background: none;
  text-decoration: none;
  line-height: 2;  
  padding: 2px 5px;
  margin: 2px;
  border: 1px solid var(--interactive-hover);
  border-radius: 4px;
  color: black;
}

a, .markdown-preview-view .external-link:hover {
  text-decoration: none !important;
  background: var(--interactive-hover);
  color: black;
}

.theme-dark :not(pre)>code[class*='language-'], .theme-dark pre[class*='language-'] {
  background: var(--background-secondary-alt);
}

.theme-light :not(pre)>code[class*='language-'], .theme-light pre[class*='language-'] {
  background: var(--background-secondary);
  box-shadow: inset 0 0 0 1px var(--background-primary-alt);
  border-radius: 4px;
}

/* table row and column headers */

.markdown-preview-view tr:nth-child(odd) {
  background-color: var(--background-secondary);
}

.markdown-preview-view td:nth-child(1) {
  background-color: var(--background-secondary);
}

/* file embed */

.markdown-embed:not(.hover-popover .markdown-embed), .file-embed {
  border-radius: 4px;
  margin: 0 !important;
  width: max-content;
  padding: 5px 20px !important;
}

.markdown-embed {
  border: 1px solid var(--background-modifier-border);
  border-left-width: 5px;
}

.markdown-embed .markdown-preview-view {
  padding: 0 20px;
}

.markdown-embed-link, .file-embed-link {
  left: 8px;
  right: unset;
}

.theme-light .token.operator, .theme-light .token.entity, .theme-light .token.url, .theme-light .language-css .token.string, .theme-light .style .token.string {
  background: transparent;
}

/* Source: https://github.com/AGMStudio/prism-theme-one-dark */

code[class*='language-'], pre[class*='language-'] {
  text-align: left !important;
  white-space: pre !important;
  word-spacing: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  line-height: 1.5 !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}

/* Code blocks */

pre[class*='language-'] {
  padding: 1em !important;
  margin: .5em 0 !important;
  overflow: auto !important;
}

.HyperMD-codeblock {
  font-family: 'Source Code' monospace !important;
  padding: 0px 30px !important;
}

.HyperMD-codeblock .cm-hmd-codeblock, .language-python .language-python .variable {
  color: var(--gray-1) !important;
}

.HyperMD-codeblock .cm-def, .language-python .language-python .function {
  color: var(--blue) !important;
}

.HyperMD-codeblock .cm-variable, .language-python .language-python {
  color: var(--gray-2) !important;
}

.HyperMD-codeblock .cm-operator, .language-python .language-python .operator {
  color: var(--red) !important;
}

.HyperMD-codeblock .cm-string {
  color: var(--green) !important;
}

.HyperMD-codeblock .cm-number, .language-python .language-python .number {
  color: var(--aqua) !important;
}

.HyperMD-codeblock .cm-keyword, .language-python .language-python .keyword {
  color: var(--orange) !important;
}


/* Inline code */

:not(pre)>code[class*='language-'] {
  padding: .1em !important;
  border-radius: .3em !important;
  white-space: normal !important;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: var(--gray-1) !important;
}

.token.punctuation {
  color: var(--gray-2) !important;
}

.token.selector, .token.tag {
  color: var(--red) !important;
}

.token.property, .token.boolean, .token.number, .token.constant, .token.symbol, .token.attr-name, .token.deleted {
  color: var(--orange) !important;
}

.token.string, .token.char, .token.attr-value, .token.builtin, .token.inserted {
  color: var(--green) !important;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  color: var(--acqua) !important;
}

.token.atrule, .token.keyword {
  color: var(--purple) !important;
}

.token.function, .token.macro.property {
  color: var(--blue) !important;
}

.token.class-name {
  color: var(--yellow) !important;
}

.token.regex, .token.important, .token.variable {
  color: var(--purple) !important;
}

.token.important, .token.bold {
  font-weight: bold !important;
}

.token.italic {
  font-style: italic !important;
}

.token.entity {
  cursor: help !important;
}

pre.line-numbers {
  position: relative !important;
  padding-left: 3.8em !important;
  counter-reset: linenumber !important;
}

pre.line-numbers>code {
  position: relative !important;
}

.line-numbers .line-numbers-rows {
  position: absolute !important;
  pointer-events: none !important;
  top: 0 !important;
  font-size: 100% !important;
  left: -3.8em !important;
  width: 3em !important;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px !important;
  border-right: 0 !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.line-numbers-rows>span {
  pointer-events: none !important;
  display: block !important;
  counter-increment: linenumber !important;
}

.line-numbers-rows>span:before {
  content: counter(linenumber) !important;
  color: var(--syntax-gray-1) !important;
  display: block !important;
  padding-right: 0.8em !important;
  text-align: right !important;
}

/* admonition callouts: old appearance */

.admonition, details {  
  border-width: 1px;
  border-left-width: 4px;
}

.admonition {
  padding: 0px;
}

.admonition-title {
  padding: 10px;
}

.admonition-title-content {
  margin: 0px 6px;
}

.admonition-content {
  padding: 10px;
  background: var(--background-primary);
}

.admonition-content p {
  margin: 0px 5px;
}

/* bullet list */

.cm-formatting-list {
  /* padding-right: 6px; */
}

.has-list-bullet {
  margin: 10px 0px;
}

ul .list-bullet::after {
  width: 4px;
  height: 4px;
  border: 1.5px solid var(--background-accent);
  background: var(--background-primary);
}

ul ul .list-bullet::after {
  border: 1px solid black;
  background: var(--background-accent);
}

ul ul ul .list-bullet::after {
  border: 1px solid black;
  background: black;
}


ul ul ul ul .list-bullet::after {
  border: 1px solid #aaa;
  background: #aaa;
 
}

ul li::marker {
  color: rgba(var(--callout-color), 0.5) !important;
}

ul ul li::marker {
  color: rgba(var(--callout-color), 0.25) !important;
  border: 10px !important;
}

/* numbered list */

ol {
  padding-left: 20px !important;
}

ol li {
  padding-left: 5px;
}

ol li::marker {
  color: var(--background-accent) !important;
}

.HyperMD-list-line.cm-active .cm-formatting-list-ol {
  color: var(--background-accent);
}


/* file navbar folder collapse icon */

.is-collapsed .nav-folder-collapse-indicator .right-triangle {
  color: var(--placeholder) !important;
}

.nav-folder-collapse-indicator .right-triangle {
  color: var(--background-accent) !important;
}

::selection {
  border-radius: 6px !important;
}

.graph-view.color-fill-focused {
  color: black;
}

.admonition p {
  margin: 5px 0px;
}
